<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">10.2</span><a
                href="https://www.aparat.com/v/oW1vn"
                class="exercise">Workshop Video Link
            </a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Exercise
        </div>
    </div>
</div>

<div class="module-sub-item p-3">
    <div class="row justify-content-between">
        <div class="col-9"><span class="theme-text-secondary mr-2">10.2</span><a
                href="https://www.aparat.com/v/3PDTI"
                class="exercise">Workshop Video Link
            </a>
        </div>
        <div class="col-3 text-right extra-info"><span class="icon dripicons-download mr-2"></span>Exercise
        </div>
    </div>
</div>
